.input {
  width: 25rem;
  height: 3rem;
  font-size: 1.4rem;
  font-family: FontAwesome;
}

.input::placeholder {
  font-size: 1rem;
  padding-left: 2rem;
  color: rgb(129, 128, 128);
  transform: translate3d(0, -2px, 0);
}

.darkTheme {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 98%);
  border: none;
  box-shadow: 1px 1px 1px 1px hsl(210, 26%, 9%);
  transition: background-color 0.4s, color 0.4s box-shadow 0.4s;
}

.lightTheme {
  background-color: white;
  border: none;
  color: black;
  box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
}
